@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family:sans-serif;
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:'Roboto', sans-serif;

}

body{
    padding:0;
    margin:0;
    
}

header{
    background-color:#000;
    color:#fff;
    padding:2rem;
}

.topbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 .5rem;
}

.left-side,.right-side{
    display:flex;
    align-items:center;
    gap:2rem;
}

.left-side{
    flex-wrap:nowrap;
}

.right-side{
    display:none;
}


.topbar a{
    text-decoration: none;
    color:inherit;
}


.btn-topbar{
    padding:1rem 1.2rem;
    border:1px solid white;
    background-color:#222;
    border-radius:10px;
    font-size:1.2rem;
    margin-right:1rem;
}

.btn-login{
    padding:1rem 3rem;
    margin-right:1rem;
    border:none;
    background-color:blue;
    border-radius:10px;
    font-size:1.2rem;
    transition: all .5s;
}

.btn-login:hover{
    background-color:#fff;
    color:#222;
}

.hero{
    background-color:#DADBF1;
    padding: 6rem 0 6rem 0;
}

.hero-container{
    margin:0 auto;
    text-align: center;
}

.hero-container h2{
    font-size:2.5rem;
    font-weight:200;
    margin-bottom:1rem;
}

#query{
    padding: 1rem;
    width:90%;
    max-width:700px;
    transition: all .5s;
    outline:none;
    border:1px solid black;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display:relative;
    margin-top:1.5rem;
    font-size:1.3rem;
}

#query:hover{
    border-color:blue;
}


.list-item{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:5rem 0;
}

.list-icon{
    margin: 0 3rem;
}

.list-content{
    display:flex;
    flex-direction:column;
    max-width:300px;
    width:60%;
    gap:1rem;
}

.list-content a{
    text-decoration: none;
}


footer{
    padding:2rem 0 2rem 0;
    margin-top:3rem;
    background-color:#000;
    color:#fff;
    line-height:1.5rem;
}

.footer-container{
    padding:0 2rem;
    display:grid;
    gap:2.5rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}


.footer-container ul{
    list-style:none;
}

.footer-container ul li:nth-child(1){
    margin:1rem 0;
}

.footer-container ul li a{
    text-decoration:none;
    color:inherit;
}

.footer-container ul li a:hover{
    text-decoration: underline;
}

.copyright{
    display:flex;
    flex-direction:column;
    margin:5rem 0 1rem 0;
    align-items: center;
}


.help-block{
    padding:1rem 2rem;
    background-color:blue;
    color:#fff;
    font-weight: 800;
    border-radius: 25px;
    border:none;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    opacity:.8;
}

.help-block:hover{
    opacity:1;
}

.help-block a{
    text-decoration: none;
    color:inherit;
}



/*<----------------------------------------------------------------->*/
/*<-------------------------MEDIA QUERY'S--------------------------->*/
/*<----------------------------------------------------------------->*/


@media (min-width:600px){

    .hero-container h2{
        font-size:4rem;
        font-weight:200;
    }    


    .list-section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    font-size:1.4rem;
    }

    .footer-container{
        display:flex;
    }

    .copyright{
        text-align:center;
        padding:0 2rem;
    }

}

@media (min-width:960px){

    .right-side{
        display:block;
    }
}